<h1 class="title">Add Doctor</h1>
<%= form_with(model: @doctor, local: true) do |f|%>
<div class="field">
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  <%= f.submit %>
</div>
<% end %>
