<!DOCTYPE html>
<html>
  <head>
    <title>DoctorsAppointments</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
    <ul class="nav-list">
      <li class="nav-item"><a href="doctors#index" class="nav-link">Doctors</a></li>
      <li class="nav-item"><a href="users#index" class="nav-link">Users</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
    </ul>
  </nav>

    <%= yield %>
  </body>
</html>
